# ===== PYTHON / DJANGO =====
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
backend/**/*.pyc
backend/.env
backend/db.sqlite3
backend/media/
backend/staticfiles/
backend/distilphobert_best/
backend/logs/

# ===== NODE / REACT =====
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local

# ===== EDITOR =====
.vscode/
.idea/
*.DS_Store