{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Giỏ hàng</h1>
            <p class="lead fw-normal text-white-50 mb-0">Xem giỏ hàng của bạn...</p>
        </div>
    </div>
</header>
<br>

<div class="container-fluid cart-container">
    <div class="cart-wrapper">
        <div class="row">
            {% if cart_products %}
            <div class="col-sm-8">
                <form action="" class="cart-form">
                    <table class="table shop-table table-cart">
                        <thead>
                            <tr>
                                <th class="product-name text-style-col text-dark fw-bold">SẢN PHẨM</th>
                                <th class="product-price text-style-col text-dark fw-bold">GIÁ</th>
                                <th class="product-quantity text-style-col text-dark fw-bold">SỐ LƯỢNG</th>
                                <th class="product-subtotal text-style-col text-dark fw-bold">HÀNH ĐỘNG</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in cart_products %}
                            <tr class="cart-item">
                                <td class="product-remove"><a href=""></a></td>
                                <td class="product-thumbnail"><a href=""></a></td>
                                <!-- Product name -->
                                <td class="product-name">
                                    <!-- <th scope="row"></th> -->
                                    <div class="media cart-item-product-detail d-flex justify-content-start align-items-center">
                                        <img class="image-style" src="{{ product.image.url }}" alt="">
                                        <div class="media-body align-self-center">
                                            <a class="text-style-product-item text-decoration-none" href="">{{ product.name }}</a>
                                        </div>
                                    </div>
                                </td>
                                <!-- Product price -->
                                <td class="product-price align-middle">
                                    {% if product.is_sale %}
                                    <span class="price-amount font-weight-bold">
                                        <span class="currencySymbol"></span>
                                        <strike>{{ product.price|floatformat:0|intcomma }}</strike>
                                        {{ product.sale_price|floatformat:0|intcomma }}
                                    </span>
                                    {% else %}
                                    <span class="price-amount font-weight-bold">
                                        <span class="currencySymbol"></span>{{ product.price|floatformat:0|intcomma }}
                                    </span>
                                    {% endif %}
                                </td>

                                <!-- Quantity -->
                                {% for key, value in quantities.items %}
                                {% if key == product.id|slugify %}
                                <td class="product-quantity align-middle">
                                    <small class="text-body-secondary d-flex align-items-center">
                                        <button type="button" class="btn btn-sm decrease-qty"  style="border: 1px solid #212529; background-color: transparent; color: #212529"
                                        data-index="{{ product.id }}"><i class="fa-solid fa-minus"></i></button>
                                        <span id="qty{{ product.id }}" class="mx-2 fw-bold" style="font-size:19px">{{ value }}</span>
                                        <button type="button" class="btn btn-sm increase-qty"  style="border: 1px solid #212529; background-color: transparent; color: #212529"
                                            data-index="{{ product.id }}"><i class="fa-solid fa-plus"></i></button>
                                    </small>
                                </td>
                                {% endif %}
                                {% endfor %}
                                <!-- Subtotal  -->
                                <td class="product-subtotal align-middle">
                                    <button type="button" data-index="{{ product.id }}"
                                        class="btn btn-danger delete-product ms-3" style="background-color:tomato">Xóa
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </form>

            </div>
            <div class="col-sm-4">
                <div class="cart-total-container">
                    <div class="cart-total p-40" style="padding: 0 40px">
                        <h2 class="fw-bold">Tổng quan giỏ hàng</h2>
                        <table class="shop-table-total w-100">
                            <tbody>
                                <tr class="cart-subtotal">
                                    <th class="fw-semibold">Tổng tiền hàng</th>
                                    <td data-title="Subtotal">
                                        <span class="price-amount font-weight-bold">
                                            <span class="currencySymbol text-right">{{ totals|floatformat:0|intcomma }}
                                                đồng</span>
                                        </span>
                                    </td>
                                </tr>
                                <tr style="height: 10px"></tr>
                                <tr class="shipping-total">
                                    <th class="w-100 dp-tbrow fw-semibold mt-2">Phương thức vận chuyển:</th>
                                    <td data-title="Shipping" class="w-100 dp-tbrow txt-align-left">
                                        <ul class="ul-none ps-2" id="shipping-method">
                                            <li>
                                                <input type="radio" name="shipping_method" data-index="0"
                                                    id="shipping_method_0_flat_rate1" value="normal"
                                                    class="shipping_method" checked="checked">
                                                <label for="shipping_method_0_flat_rate1" style="font-size: 15px;">Tiết kiệm: <span
                                                        class="woocommerce-Price-amount amount"><bdi><span
                                                                class="woocommerce-Price-currencySymbol"></span>20,000
                                                            đồng</bdi></span></label>
                                            </li>
                                            <li>
                                                <input type="radio" name="shipping_method" data-index="0"
                                                    id="shipping_method_0_flat_rate2" value="express"
                                                    class="shipping_method">
                                                <label for="shipping_method_0_flat_rate2" style="font-size: 15px;">Nhanh: <span
                                                        class="woocommerce-Price-amount amount"><bdi><span
                                                                class="woocommerce-Price-currencySymbol"></span>100,000
                                                            đồng</bdi></span></label>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr class="order-total">
                                    <th class="fw-semibold">Tồng thanh toán</th>
                                    <td data-title="Total" class="order-total-content">
                                        <strong>
                                            <span class="woocommerce-Price-amount amount">
                                                <span class="currencySymbol"></span>{{ total_final|floatformat:0|intcomma }}
                                                đồng
                                            </span>
                                        </strong>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <!-- Process checkout -->
                        <div class="proceed-checkout">
                            <form action="" class="shipping-calculator text-decoration-none">
                                <a href="{% url 'checkout' %}" class="checkout-button text-decoration-none">Mua hàng</a>
                                <a href="{% url 'home' %}" class="back-to-shopping text-decoration-none">Trở lại</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div style="height: calc(100vh - 176px);">
                <p class="text-center">Không có sản phẩm nào trong giỏ hàng hiện tại...</p>
            </div>
            {% endif %}

        </div>

    </div>
</div>


<script>
    //update
    $(document).ready(function () {
        function updateCart(productId, quantity) {
            $.ajax({
                type: 'POST',
                url: '{% url "cart_update" %}', 
                data: {
                    product_id: productId,
                    product_qty: quantity,
                    csrfmiddlewaretoken: '{{ csrf_token }}', 
                    action: 'post'
                },
                success: function (response) {
                    location.reload();
                },
                error: function (xhr, errmsg, err) { }
            });
        }

        // Xử lý nút giảm số lượng
        $('.decrease-qty').on('click', function () {
            var productId = $(this).data('index');
            var qtyElement = $('#qty' + productId);
            var currentQty = parseInt(qtyElement.text()) || 1;

            if (currentQty > 1) {
                var newQty = currentQty - 1;
                qtyElement.text(newQty);
                updateCart(productId, newQty);
            }
        });

        // Xử lý nút tăng số lượng
        $('.increase-qty').on('click', function () {
            var productId = $(this).data('index');
            var qtyElement = $('#qty' + productId);
            var currentQty = parseInt(qtyElement.text()) || 1;

            var newQty = currentQty + 1;
            qtyElement.text(newQty);
            updateCart(productId, newQty);
        });
    });
    //delete
    $(document).on('click', '.delete-product', function (e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "cart_delete" %}',
            data: {
                product_id: $(this).data('index'),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },

            success: function (json) {
                location.reload()
            },

            error: function (xhr, errmsg, err) {
                alert("Error occurred: " + errmsg);
            }
        })
    })
    // Delivery
    $(document).on('change', "input[name='shipping_method']", function (e) {
        e.preventDefault();
        let selectedShipping = $("input[name='shipping_method']:checked").val();

        $.ajax({
            type: 'POST',
            url: '{% url "cart_update_shipping" %}',
            data: {
                shipping_method: selectedShipping,
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'update_shipping'
            },
            success: function (json) {
                $(".order-total-content strong .woocommerce-Price-amount.amount").html(
                    `<span class="currencySymbol"></span>${json.total_final.toLocaleString()} đồng`
                );
            },
            error: function (xhr, errmsg, err) {
                alert("Error occurred: " + errmsg);
            }
    });
});
</script>
{% endblock %}