{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Xác nhận mua hàng</h1>
            <p class="lead fw-normal text-white-50 mb-0">Xem thông tin đơn hàng của bạn...</p>
        </div>
    </div>
</header>
<br>
<form class="d-flex" action="billing_info" method="post">
<div class="container-fluid cart-container mb-5 mx-auto" style="width: 60%; float: left">
    <div class="card border-0">
        <div class="card-body px-5">
            <p class="fs-4 fw-semibold mb-3">Thông tin vận chuyển</p>
            <hr>
            {% csrf_token %}
            <div class="row d-flex align-items-center mt-3">
                <div class="col-6 d-flex align-items-center">
                    <p class="mb-0">Họ tên:</p>    
                </div>
                <div class="col-6 d-flex align-items-center">
                    <p class="mb-0">Số điện thoại:</p>
                </div>
            </div>
            <div class="row d-flex align-items-center mt-1 mb-3">
                <div class="col-6 d-flex align-items-center">
                    {{ shipping_form.shipping_full_name }}        
                </div>
                <div class="col-6 d-flex align-items-center">
                    {{ shipping_form.shipping_phone }}
                </div>
            </div>
            <p class="mb-0">Địa chỉ giao hàng:</p>
            <div class="d-flex align-items-center mt-1">
                {{ shipping_form.shipping_address }}
            </div>
            <p class="mt-3 fw-semibold d-flex align-items-center" id="update-address" style="cursor: pointer;">
                <span>Cập nhật địa chỉ</span>
                <span class="ms-2 fs-5"><i class="bi bi-arrow-bar-up icon-update"></i></span>
            </p>
            <div id="address-details" style="display: none; margin-top: 5px;">
                <select name="shipping_city" class="form-select form-control mb-3" id="city" aria-label=".form-select-sm">
                    <option value="" selected>Chọn tỉnh thành</option>
                </select>
        
                <select name="shipping_district" class="form-select form-control mb-3" id="district" aria-label=".form-select-sm">
                    <option value="" selected>Chọn quận huyện</option>
                </select>
        
                <select name="shipping_ward" class="form-select form-control mb-3" id="ward" aria-label=".form-select-sm">
                    <option value="" selected>Chọn phường xã</option>
                </select>
        
                <div class="d-flex align-items-center mb-3">
                    <label for="specific_address"></label>
                    <input type="text" name="specific_address" class="form-control" id="specific_address" placeholder="Địa chỉ cụ thể" disabled>
                </div>
                <button type="button" class="btn btn-warning" id="apply-address">Chọn</button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid cart-container mb-5 mx-auto" style="width: 50%; float:right">
    <div class="card border-0">
        <div class="card-body px-5" style="background-color: #f9f9f9;">
            <p class="fs-4 fw-semibold mb-3">Tổng quan đơn hàng</p>
            <hr>
            <div class="d-flex justify-content-between pb-2">
                <strong>Sản phẩm</strong>
                <strong>Giá</strong>
            </div>
            <div style="font-size: 15px">
            {% for product in cart_products %}
            <div class="d-flex justify-content-between">
                <div class="left">
                <span class="fw-semibold">
                {% for key, value in quantities.items %}
                    {% if key == product.id|slugify %}
                        {{ value }}
                    {% endif %}
                {% endfor %}<i class="bi bi-x"></i></span>  
                {{ product.name }}
                </div>
                <div class="right">
                {% if product.is_sale %}
                    {{ product.sale_price|floatformat:0|intcomma }}đ
                {% else %}
                    {{ product.price|floatformat:0|intcomma }}đ
                {% endif %}
                </div>
            </div>
            {% endfor %}
            </div>
            <a href="{% url 'cart_summary' %}" class="text-decoration-none text-primary update-order-cart" style="float: right">Cập nhật sản phẩm</a>
            <br>
            <hr>
            <div class="d-flex justify-content-between">
                <p class="mb-2 fw-semibold">Tổng tiền hàng</p>
                <p data-title="Total" class="order-total-content mb-2">
                    <strong>
                        <span class="woocommerce-Price-amount amount">
                            <span class="currencySymbol"></span>{{ totals|floatformat:0|intcomma }}đ                           
                        </span>
                    </strong>
                </p>
            </div>
            <div>
                <p class="mb-2 fw-semibold">Phương thức giao hàng</p>
                <ul class="ul-none ps-3" id="shipping-method">
                    <li class="d-flex justify-content-between">
                        <div class="left">
                            <input type="radio" name="shipping_method" data-index="0"
                                id="shipping_method_0_flat_rate1" value="normal"
                                class="shipping_method" 
                                {% if shipping_method == "normal" %}checked="checked"{% endif %}>
                            <label for="shipping_method_0_flat_rate1">Tiết kiệm: </label>
                        </div>
                        <strong>
                            <span class="woocommerce-Price-amount amount"><bdi>20,000đ</bdi></span>
                        </strong>
                    </li>
                    <li class="d-flex justify-content-between">
                        <div class="left">
                            <input type="radio" name="shipping_method" data-index="0"
                                id="shipping_method_0_flat_rate2" value="express"
                                class="shipping_method"
                                {% if shipping_method == "express" %}checked="checked"{% endif %}>
                            <label for="shipping_method_0_flat_rate2">Nhanh: </label>
                        </div>
                        <strong>
                            <span class="woocommerce-Price-amount amount"><bdi>100,000đ</bdi></span>
                        </strong>
                    </li>
                </ul>
            </div>
            <hr>
            <div class="d-flex justify-content-between">
                <p class="mb-0 fw-semibold">Tổng thanh toán</p>
                <p data-title="Total" class="order-total-content mb-0">
                    <strong class="text-danger">
                        <span class="woocommerce-Price-amount amount final">
                            <span class="currencySymbol"></span>{{ total_final|floatformat:0|intcomma }}đ                           
                        </span>
                    </strong>
                </p>
            </div>
            <hr>
            <button type="submit" class="btn btn-primary rounded-pill w-100 py-2 fw-bold py-2" style="font-size: 19px;">Đặt hàng</button>
        </div>
    </div>
</div>
</form>

<script>
    $(document).on('change', "input[name='shipping_method']", function (e) {
        e.preventDefault();
        let selectedShipping = $("input[name='shipping_method']:checked").val();

        $.ajax({
            type: 'POST',
            url: '{% url "cart_update_shipping" %}',
            data: {
                shipping_method: selectedShipping,
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'update_shipping'
            },
            success: function (json) {
                $(".order-total-content strong .woocommerce-Price-amount.amount.final").html(
                    `<span class="currencySymbol"></span>${json.total_final.toLocaleString()}đ`
                );
            },
            error: function (xhr, errmsg, err) {
                alert("Error occurred: " + errmsg);
            }
        });
    });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script>
    var citis = document.getElementById("city");
    var districts = document.getElementById("district");
    var wards = document.getElementById("ward");
    var specific_address = document.getElementById("specific_address");

    axios.get("{% url 'get_data' %}")
        .then(function (result) {
            renderCity(result.data);
        })
        .catch(function (error) {
            console.log("Error fetching data: ", error);
        });

    function renderCity(data) {
        for (const x of data) {
            citis.options[citis.options.length] = new Option(x.Name, x.Id);
        }

        citis.onchange = function () {
            districts.length = 1;
            specific_address.disabled = true;
            wards.length = 1;
            if (this.value != "") {
                const result = data.filter(n => n.Id === this.value);
                for (const k of result[0].Districts) {
                    districts.options[districts.options.length] = new Option(k.Name, k.Id);
                }
            }
        };

        districts.onchange = function () {
            wards.length = 1;
            specific_address.disabled = true;
            const dataCity = data.filter((n) => n.Id === citis.value);
            if (this.value != "") {
                const dataWards = dataCity[0].Districts.filter(n => n.Id === this.value)[0].Wards;
                for (const w of dataWards) {
                    wards.options[wards.options.length] = new Option(w.Name, w.Id);
                }
            }
        };

        wards.onchange = function() {
            if (this.value !== "") {
                specific_address.disabled = false;
            } else {
                specific_address.disabled = true;
            }
        };
    }

    document.getElementById("apply-address").addEventListener("click", function () {
        const city = citis.options[citis.selectedIndex].text;
        const district = districts.options[districts.selectedIndex].text;
        const ward = wards.options[wards.selectedIndex].text;
        const specificAddress = specific_address.value;
        const iconUpInUpdate = document.querySelector(".icon-update");
        if (city && district && ward && specificAddress) {
            const fullAddress = `${specificAddress}, ${ward}, ${district}, ${city}`;
            document.getElementById("shipping_address").value = fullAddress;
            document.getElementById("address-details").style.display = "none";
            iconUpInUpdate.classList.add("bi-arrow-bar-up");
            iconUpInUpdate.classList.remove("bi-arrow-bar-down");
        } else {
            alert("Vui lòng điền đầy đủ thông tin địa chỉ!");
        }
    });
</script>

<script>
    document.getElementById("update-address").addEventListener("click", function () {
        const addressDetails = document.getElementById("address-details");
        const iconUpInUpdate = document.querySelector(".icon-update");
        if (addressDetails.style.display === "none") {
            addressDetails.style.display = "block";
            iconUpInUpdate.classList.remove("bi-arrow-bar-up");
            iconUpInUpdate.classList.add("bi-arrow-bar-down");
        } else {
            addressDetails.style.display = "none";
            iconUpInUpdate.classList.add("bi-arrow-bar-up");
            iconUpInUpdate.classList.remove("bi-arrow-bar-down");
        }
    });
</script>
{% endblock %}