{% extends 'base.html' %}

{% block content %}
<section class="py-5" style="background: #fff">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb custom-breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'category' product.category %}">
                        <span class="highlight-category">{{ product.category }}</span></a></li>
                <li class="breadcrumb-item" aria-current="page">{{ product.name }}</li>
            </ol>
        </nav>
        <div class="row gx-5 mt-3">
            <aside class="col-lg-6 d-flex">
                <!-- Thumbnail ảnh phụ -->
                <div class="me-3 d-flex flex-column gap-2 thumbnails">
                    <!-- Ảnh chính -->
                    <img src="{{ product.image.url }}" alt="Main Image" onclick="changeMainImage(this)">

                    <!-- Các ảnh thumbnails -->
                    {% for thumb in thumbnails %}
                    <img src="{{ thumb.image.url }}" alt="Thumbnail {{ forloop.counter }}"
                        onclick="changeMainImage(this)">
                    {% endfor %}
                </div>

                <!-- Ảnh chính -->
                <div
                    class="border rounded-4 mb-3 d-flex justify-content-center align-items-center zoom-container flex-grow-1">
                    <a data-fslightbox="mygalley" class="rounded-4" target="_blank" data-type="image">
                        <img id="mainProductImage" style="max-width: 100%; height: auto; margin: auto;"
                            class="rounded-4 fit zoom-image" src="{{ product.image.url }}" alt="Main Image" />
                    </a>
                </div>
            </aside>
            <div id="notification" class="notification hidden"></div>
            <main class="col-lg-6">
                <div class="ps-lg-3">
                    <h4 class="title text-dark">
                        {{ product.name }}
                    </h4>
                    <div class="d-flex flex-row my-3">
                        <!-- Xếp hạng -->
                        <div class="text-warning mb-1 me-2">
                            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                class="fa fa-star"></i><i class="fa fa-star"></i>
                            <span class="ms-1"> 5.0 </span>
                        </div>
                        <!-- Lượt mua -->
                        <span class="text-muted"><i class="fas fa-shopping-basket fa-sm mx-1"></i>Đã bán 145</span>
                        <span class="text-success ms-2">Còn Hàng</span>
                    </div>
                    <!-- Giá tiền -->
                    <div class="mb-3">
                        <span class="h5">
                            <i class="fa-solid fa-dong-sign fa-2xs"></i>
                            <!-- {{ price }} -->
                            {% load humanize %}
                            {% if product.get_discounted_price != product.price %}
                            <del>{{ product.price|floatformat:0|intcomma }}</del>
                            {{ product.sale_price|floatformat:0|intcomma }}
                            {% else %}
                            {{ product.price|floatformat:0|intcomma }}
                            {% endif %}
                        </span>
                    </div>
                    <p>
                        {{ product.short_description }}
                    </p>
                    <hr />
                    <!--Số lượng, Mua ngay, Thêm vào giỏ hàng-->
                    <div class="row mb-4">
                        <label class="mb-2 d-block col-3">Số lượng</label>
                        <div class="input-group mb-3 col-9" style="width: 170px;">
                            <button class="btn btn-white border border-secondary px-3" type="button" id="button-addon1"
                                data-mdb-ripple-color="dark">
                                <i class="fas fa-minus"></i>
                            </button>
                            <input type="text" class="form-control text-center border border-secondary" placeholder="1"
                                aria-label="Example text with button addon" aria-describedby="button-addon1"
                                id="quantity-input" value="1" />
                            <button class="btn btn-white border border-secondary px-3" type="button" id="button-addon2"
                                data-mdb-ripple-color="dark">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                        <!-- </div>-->
                    </div>
                    <button id="buyNow" value="{{ product.id }}" class="btn btn-warning border border-secondary py-2 "
                        style="background-color: #ff253a">
                        Mua ngay </button></a>
                    <button type="button" value="{{ product.id }}" id="add-cart"
                        class="btn btn-success border border-secondary py-2">
                        <i class="me-1 fa fa-shopping-basket"> </i> Thêm vào giỏ hàng
                    </button>
                    <!--nut them vao wish list-->
                    <button type="button" value="{{ product.id }}" id="add-wishlist"
                        class="btn btn-light border border-secondary py-2 px-3">
                        <i class="fa-regular fa-heart fa-beat-fade"></i>
                    </button>
                </div>
            </main>
        </div>
    </div>
</section>
<!-- content -->

<section class="bg-light border-top py-4">
    <div class="container">
        <div class="row gx-4">
            <div class="col-lg-8 mb-4">
                <div class="border rounded-2 px-3 py-2 bg-white">
                    <!-- Pills navs -->
                    <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
                        <li class="nav-item d-flex" role="presentation">
                            <a class="nav-link-1 d-flex align-items-center justify-content-start w-100 fw-semibold" id="ex1-tab-1"
                                data-mdb-toggle="pill" href="#ex1-pills-1" role="tab" aria-controls="ex1-pills-1"
                                aria-selected="true"
                                style="font-weight: 500; font-size: 1.2rem; padding: 0; color: black">
                                CHI TIẾT SẢN PHẨM
                            </a>
                        </li>
                    </ul>
                    <!-- Pills navs -->

                    <!-- Pills content -->
                    <div class="tab-content" id="ex1-content">
                        <div id="specification-item-231244" class="specification-item">
                            <div class="accordion" id="specificationAccordion">
                                {% for con in config %}
                                <div class="accordion-item">
                                    {% for key in con.keys %}
                                    <h2 class="accordion-header" id="{{ key }}">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                            <strong>{{ key }}</strong>
                                        </button>
                                    </h2>
                                    <div id="collapse1" class="accordion-collapse collapse show"
                                        aria-labelledby="{{ key }}" data-bs-parent="#specificationAccordion">
                                        <div class="accordion-body">
                                            <ul class="list-unstyled">
                                                {% for value in con.values %}
                                                {% for val in value %}
                                                {% for k, v in val.items %}
                                                <li class="row">
                                                    <div class="col-4"><strong>{{ k }}:</strong></div>
                                                    <div class="col-8"><span>{{ v }}</span></div>
                                                </li>
                                                <hr>
                                                {% endfor %}
                                                {% endfor %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                    {% endfor%}
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!-- Pills content -->                    
                </div>
                <div class="border rounded-2 px-3 py-1 mt-3 bg-white">
                    <a class="nav-link-1 d-flex align-items-center justify-content-start w-100 fw-semibold" id="ex1-tab-2"
                        data-mdb-toggle="pill" href="#ex1-pills-1" role="tab" aria-controls="ex1-pills-1"
                        aria-selected="true" style="font-weight: 500; font-size: 1.2rem; padding: 0; color: black">
                        MÔ TẢ SẢN PHẨM
                    </a>
                    <div id="content" class="content-limited mt-2">
                        {% for des in description %}
                        <p> {{ des }}</p>
                        {% endfor%}
                    </div>
                    <!-- nút xem thêm-->
                    <button id="toggleContent">Xem thêm</button>
                </div>
            </div>
            <!--Các sản phẩm khác-->

            <div class="col-lg-4">
                <div class="px-0 border rounded-2 shadow-0">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title fw-semibold">Sản phẩm gợi ý cho bạn</h5>
                            <hr>
                            {% for rec_product in product_recommend %}
                            <div class="d-flex mb-3">
                                <a href="{% url 'product' rec_product.id %}" class="me-3">
                                    <img src="/media/{{ rec_product.image }}"
                                        style="max-width: 96px; height: 96px; object-fit: cover;"
                                        class="img-md img-thumbnail" />
                                </a>
                                <div class="info">
                                    <a href="#" class="nav-link mb-1">
                                        {{ rec_product.name }}
                                    </a>
                                    <strong class="text-danger">
                                        <i class="fa-solid fa-dong-sign fa-2xs"></i>
                                        {{ rec_product.price|floatformat:0|intcomma }}
                                    </strong>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Đánh giá sản phẩm-->
<section class="bg-light border-top py-4">
    <div class="container">
        <div class="row gx-4">
            <div class="col-lg-8 mb-4">
                <div class="border rounded-2 px-3 py-2 bg-white">
                    <div class="comment_content">
                        {% if reviews %}
                        <a class="nav-link-1 d-flex align-items-center justify-content-start w-100" id="ex1-tab-3"
                            data-mdb-toggle="pill" href="#ex1-pills-1" role="tab" aria-controls="ex1-pills-1"
                            aria-selected="true" style="font-weight: 500; font-size: 1.2rem; padding: 0; color: black">
                            {{ average_rating|floatformat:1 }} <span class="text-warning pe-2"><i
                                    class="fa fa-star"></i></span> ĐÁNH GIÁ SẢN PHẨM
                            <small style="font-size: 15px;">&#40;{{ reviews|length }}&#41;</small>
                        </a>
                        {% for review in reviews %}
                        <hr>
                        <ul class="comment-list">
                            <li class="mb-4 row">
                                <!-- Khách hàng-->
                                <div class="comment-header col-2">
                                    <div class="comment-name" style="font-weight: bold">{{ review.user.username }}</div>
                                    <div class="comment-date">{{ review.review_date|date:"d/m/Y" }}</div>
                                </div>
                                <!-- rating-->
                                <div class="comment-content col-10">
                                    <div class="rating-box mt-2">
                                        <div class="text-warning mb-1 me-2">
                                            {% for i in "12345"|make_list %}
                                            {% if review.rating|stringformat:"s" >= i %}
                                            <i class="fa fa-star"></i>
                                            {% else %}
                                            <i class="fa-regular fa-star"></i>
                                            {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <!-- Đánh giá-->
                                    <div class="mt-2">
                                        {{ review.comment }}
                                    </div>
                                </div>
                            </li>
                        </ul>
                        {% endfor %}
                        {% else %}
                        <a class="nav-link-1 d-flex align-items-center justify-content-start w-100" id="ex1-tab-3"
                            data-mdb-toggle="pill" href="#ex1-pills-1" role="tab" aria-controls="ex1-pills-1"
                            aria-selected="true" style="font-weight: 500; font-size: 1.2rem; padding: 0; color: black">
                            ĐÁNH GIÁ SẢN PHẨM <small style="font-size: 15px;">&#40;{{ reviews|length }}&#41;</small>
                        </a>
                        <p>Chứa có đánh giá sản phẩm</p>
                        {% endif %}
                        <hr>
                        <div class="d-flex justify-content-between">
                            <a href="{% url 'review' product.id %}">Đánh giá</a>
                            {% if request.user.is_staff %}
                            <a href="{% url 'reviews_analysis' product.id %}" class="text-success">Phân tích chi
                                tiết</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal hiển thị thông báo khi thực hiện thao tác -->
<div class="modal fade" id="notificationModal" tabindex="-1" aria-labelledby="notificationModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body bg-success text-white fw-semibold" id="notificationModalBody">
                <!-- Nội dung thông báo sẽ được thêm vào đây -->
            </div>
        </div>
    </div>
</div>

<script>
    function showNotification(message, duration = 3000) {
        const notification = document.getElementById('notification');

        // Cập nhật nội dung thông báo
        notification.textContent = message;

        // Hiển thị thông báo
        notification.classList.remove('hidden');
        notification.classList.add('visible');

        // Tự động ẩn sau thời gian đã định
        setTimeout(() => {
            notification.classList.remove('visible');
            notification.classList.add('hidden');
        }, duration);
    }

    $(document).ready(function () {
        $('#button-addon1').on('click', function () {
            let currentValue = parseInt($('#quantity-input').val())
            if (currentValue > 1) {
                $('#quantity-input').val(currentValue - 1);
            }
        })
        $('#button-addon2').on('click', function () {
            let currentValue = parseInt($('#quantity-input').val())
            $('#quantity-input').val(currentValue + 1)
        })
    })

    $(document).on('click', '#add-cart', function (e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "cart_add" %}',
            data: {
                product_id: $('#add-cart').val(),
                product_qty: $('#quantity-input').val(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },
            success: function (json) {
                // showNotification(json.msg);
                $('#notificationModalBody').html(`<p class="mb-0">${json.msg}</p>`);

                // Hiển thị modal
                const modal = new bootstrap.Modal(document.getElementById('notificationModal'));
                modal.show();

                // Reload lại trang nếu cần sau vài giây
                setTimeout(function () {
                    location.reload();
                }, 1000); // 3 giây trước khi reload
            },
        })
    })

    $(document).on('click', '#buyNow', function (e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "cart_add" %}',
            data: {
                product_id: $('#add-cart').val(),
                product_qty: $('#quantity-input').val(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },
            success: function (json) {
                window.location.href = "{% url 'cart_summary' %}";
            },
        })
    })

    $(document).on('click', '#add-wishlist', function (e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "wishlist_add" %}',
            data: {
                product_id: $(this).val(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },
            success: function (json) {
                showNotification(json.msg);
            },
        });
    });
</script>
<script>
    document.getElementById('toggleContent').addEventListener('click', function () {
        const content = document.getElementById('content');
        const isLimited = content.classList.toggle('content-limited');

        if (isLimited) {
            this.textContent = 'Xem thêm';
        } else {
            this.textContent = 'Thu gọn';
        }
    });


    // Xử lý zoom image
    const container = document.querySelector('.zoom-container');
    const image = container.querySelector('.zoom-image');

    container.addEventListener('mousemove', (e) => {
        const rect = container.getBoundingClientRect();
        const x = ((e.clientX - rect.left) / rect.width) * 100;
        const y = ((e.clientY - rect.top) / rect.height) * 100;

        image.style.transformOrigin = `${x}% ${y}%`;
        image.style.transform = 'scale(1.7)';
    });

    container.addEventListener('mouseleave', () => {
        image.style.transform = 'scale(1)';
        image.style.transformOrigin = 'center center';
    });

    // Xử lý thumnails ảnh
    function changeMainImage(thumbnail) {
        const mainImage = document.getElementById('mainProductImage');
        mainImage.src = thumbnail.src;

        // Remove "active" from all thumbnails
        const allThumbnails = document.querySelectorAll('.thumbnails img');
        allThumbnails.forEach(img => img.classList.remove('active'));

        // Add "active" to clicked one
        thumbnail.classList.add('active');
    }

    // Optional: set first thumbnail as active on load
    document.addEventListener('DOMContentLoaded', () => {
        const firstThumbnail = document.querySelector('.thumbnails img');
        if (firstThumbnail) firstThumbnail.classList.add('active');
    });
</script>

{% endblock %}