{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">
                {% if request.POST.searched %}
                    Kết quả cho các sản phẩm: <span class="text-primary">{{ request.POST.searched }}</span>
                {% elif query_image_url %}
                    Kết quả cho hình ảnh:
                    <img src="{{ query_image_url }}" alt="Query Image" class="img-thumbnail mt-2"
                        style="max-height: 100px;">
                {% else %}
                    Tìm kiếm các sản phẩm
                {% endif %}
            </h1>
            <p class="lead fw-normal text-white-50 mb-0">Tìm những sản phẩm bạn mong muốn ...</p>
        </div>
    </div>
</header>

<section class="pb-5 pt-3">
    <div class="container mt-3">
        <div class="row justify-content-start">
            {% if searched %}
            <div class="row justify-content-start">
                {% for product in searched %}
                {% if product.is_sale %}
                <a href="{% url 'product' product.id %}" class="text-decoration-none link-card-product mb-5">
                    <div class="card-product">
                        {% for sale in active_sale %}
                        {% if sale.category == product.category %}
                        <div class="sale">Giảm {{ sale.discount_percentage|floatformat:0|intcomma }}%</div>
                        {% endif %}
                        {% endfor %}
                        <div class="installment"><i class="bi bi-check2-all"></i></div>
                        <div class="img-card">
                            <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}" />
                        </div>
                        <div class="content">
                            <div class="title-card">{{ product.name }}</div>
                            <div class="price-card">
                                {{ product.sale_price|floatformat:0|intcomma }}đ <del>{{product.price|floatformat:0|intcomma }}đ</del>
                            </div>
                            <div class="ratings">
                                <div class="stars">★★★★★</div>
                                <button type="button" class="like" id="add-wishlist" value="{{ product.id }}">
                                    <i class="fa-regular fa-heart me-1"></i>Yêu thích
                                </button>
                            </div>
                        </div>
                    </div>
                </a>
                {% else %}
                <a href="{% url 'product' product.id %}" class="text-decoration-none link-card-product mb-5">
                    <div class="card-product">
                        <div class="installment"><i class="bi bi-check2-all"></i></div>
                        <div class="img-card">
                            <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}" />
                        </div>
                        <div class="content">
                            <div class="title-card">{{ product.name }}</div>
                            <div class="price-card">
                                {{ product.price|floatformat:0|intcomma }}đ
                            </div>
                            <div class="ratings">
                                <div class="stars">★★★★★</div>
                                <button type="button" class="like" id="add-wishlist" value="{{ product.id }}">
                                    <i class="fa-regular fa-heart me-1"></i>Yêu thích
                                </button>
                            </div>
                        </div>
                    </div>
                </a>
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}