{% extends 'base.html' %}

{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Thêm thông tin hồ sơ</h1>
            <p class="lead fw-normal text-white-50 mb-0">Cập nhật thông tin hồ sơ của bạn...</p>
        </div>
    </div>
</header>
<!-- Section-->
<section class="pb-5">
    <div class="container px-4 px-lg-5 mt-5">
        <form method="post" action="{% url 'update_info' %}"
            class="sign-up-form d-flex align-items-center justify-content-center flex-column py-5 overflow-hidden">
            {% csrf_token %}
            <div class="accordion w-50" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Thông tin hồ sơ
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p class="mb-2 fw-semibold">Số diện thoại</p>
                            {{ form.phone }}
                            <br>
                            <p class="mb-2 fw-semibold">Địa chỉ</p>
                            {{ form.address }}
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Thông tin vận chuyển
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="accordion-body">
                                <p class="mb-2 fw-semibold">Họ tên</p>
                                {{ shipping_form.shipping_full_name }}
                                <br>
                                <p class="mb-2 fw-semibold">Số điện thoại</p>
                                {{ shipping_form.shipping_phone }}
                                <br>
                                <p class="mb-2 fw-semibold">Địa chỉ</p>
                                <span id="shipping-address" style="cursor: pointer;">
                                {{ shipping_form.shipping_address }}
                                </span>
                                <br>
                                <div id="address-details" style="display: none; margin-top: 5px;">
                                    <hr>
                                    <p class="mb-2 fw-semibold">Chọn địa chỉ mới</p>
                                    <select name="shipping_city" class="form-select form-control mb-3" id="city" aria-label=".form-select-sm">
                                        <option value="" selected>Chọn tỉnh thành</option>
                                    </select>
                            
                                    <select name="shipping_district" class="form-select form-control mb-3" id="district" aria-label=".form-select-sm">
                                        <option value="" selected>Chọn quận huyện</option>
                                    </select>
                            
                                    <select name="shipping_ward" class="form-select form-control mb-3" id="ward" aria-label=".form-select-sm">
                                        <option value="" selected>Chọn phường xã</option>
                                    </select>
                            
                                    <div class="d-flex align-items-center mb-3">
                                        <label for="specific_address"></label>
                                        <input type="text" name="specific_address" class="form-control" id="specific_address" placeholder="Địa chỉ cụ thể" disabled>
                                    </div>
                                    <button type="button" class="btn btn-warning" id="apply-address">Chọn</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-secondary mt-3 w-50">Cập nhật thông tin</button>
        </form>
    </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script>
    var citis = document.getElementById("city");
    var districts = document.getElementById("district");
    var wards = document.getElementById("ward");
    var specific_address = document.getElementById("specific_address");

    axios.get("{% url 'get_data' %}")
        .then(function (result) {
            renderCity(result.data);
        })
        .catch(function (error) {
            console.log("Error fetching data: ", error);
        });

    function renderCity(data) {
        for (const x of data) {
            citis.options[citis.options.length] = new Option(x.Name, x.Id);
        }

        citis.onchange = function () {
            districts.length = 1;
            specific_address.disabled = true;
            wards.length = 1;
            if (this.value != "") {
                const result = data.filter(n => n.Id === this.value);
                for (const k of result[0].Districts) {
                    districts.options[districts.options.length] = new Option(k.Name, k.Id);
                }
            }
        };

        districts.onchange = function () {
            wards.length = 1;
            specific_address.disabled = true;
            const dataCity = data.filter((n) => n.Id === citis.value);
            if (this.value != "") {
                const dataWards = dataCity[0].Districts.filter(n => n.Id === this.value)[0].Wards;
                for (const w of dataWards) {
                    wards.options[wards.options.length] = new Option(w.Name, w.Id);
                }
            }
        };

        wards.onchange = function() {
            if (this.value !== "") {
                specific_address.disabled = false;
            } else {
                specific_address.disabled = true;
            }
        };
    }

    document.getElementById("apply-address").addEventListener("click", function () {
        const city = citis.options[citis.selectedIndex].text;
        const district = districts.options[districts.selectedIndex].text;
        const ward = wards.options[wards.selectedIndex].text;
        const specificAddress = specific_address.value;

        if (city && district && ward && specificAddress) {
            const fullAddress = `${specificAddress}, ${ward}, ${district}, ${city}`;
            document.getElementById("shipping_address").value = fullAddress;
            document.getElementById("address-details").style.display = "none";
        } else {
            alert("Vui lòng điền đầy đủ thông tin địa chỉ!");
        }
    });
</script>

<script>
    document.getElementById("shipping-address").addEventListener("click", function () {
        const addressDetails = document.getElementById("address-details");
        if (addressDetails.style.display === "none") {
            addressDetails.style.display = "block"; // Show the hidden fields
        } else {
            addressDetails.style.display = "none"; // Hide if clicked again
        }
    });
</script>

{% endblock %}