{% extends 'base.html' %}

{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Cật nhật hồ sơ</h1>
            <p class="lead fw-normal text-white-50 mb-0">Cập nhật hồ sơ của bạn</p>
        </div>
    </div>
</header>

<section class="pb-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <form method="post" action="{% url 'update_user' %}">
                            {% csrf_token %}
                            
                            <!-- Username Field -->
                            <div class="mb-3 d-flex flex-column">
                                <label for="id_username" class="form-label fw-semibold">Username</label>
                                {{ user_form.username }}
                            </div>

                            <!-- First Name Field -->
                            <div class="mb-3 d-flex flex-column">
                                <label for="id_first_name" class="form-label fw-semibold">Họ</label>
                                {{ user_form.first_name }}
                            </div>

                            <!-- Last Name Field -->
                            <div class="mb-3 d-flex flex-column">
                                <label for="id_last_name" class="form-label fw-semibold">Tên</label>
                                {{ user_form.last_name }}
                            </div>

                            <!-- Email Field -->
                            <div class="mb-3 d-flex flex-column">
                                <label for="id_email" class="form-label fw-semibold">Địa chỉ Email</label>
                                {{ user_form.email }}
                            </div>

                            <!-- Submit Button -->
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary">Cập nhật hồ sơ</button>
                            </div>
                        </form>
                        <hr><br>
                        <a 
                            href="{% url 'update_password' %}" 
                            class="btn btn-success w-100" 
                            style="background-color: limegreen !important;">
                            Thay đổi mật khẩu
                        </a>
                        <a 
                            href="{% url 'update_info' %}" 
                            class="btn btn-success w-100 mt-3" 
                            style="background-color:lightblue !important;">
                            Thêm thông tin
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}