{% extends 'base.html' %}

{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Mật khẩu</h1>
            <p class="lead fw-normal text-white-50 mb-0">Thay đổi mật khẩu...</p>
        </div>
    </div>
</header>
<!-- Section-->
<section class="pb-5">
    <div class="container px-4 px-lg-5 mt-5">
        <form method="post" action="{% url 'update_password' %}"
            class="sign-up-form d-flex align-items-center justify-content-center flex-column py-5 overflow-hidden">
            {% csrf_token %}
            
            <!-- <div class="d-flex justify-content-between"> -->
            {{ form.current_password }}
            <br>
            {{ form.new_password1 }}
            
            <ul class="small text-muted mt-3">
                <li>Mật khẩu của bạn không được quá giống với các thông tin cá nhân khác của bạn.</li>
                <li>Mật khẩu của bạn phải chứa ít nhất 8 ký tự.</li>
                <li>Mật khẩu của bạn không được là một mật khẩu phổ biến.</li>
                <li>Mật khẩu của bạn không được chỉ bao gồm chữ số.</li>
            </ul>
            <br>
            {{ form.new_password2 }}
            
            <button type="submit" class="btn btn-secondary mt-3">Cật nhật mật khẩu</button>
        </form>
    </div>
</section>


{% endblock %}